{% extends "home.html" %}
{% block head %}
<title>O mnie | Piotr Dzieszkowski</title>
{% endblock %}
{% block content %}
<h2>O mnie</h2>
<p><strong>Imię: </strong>Piotr</p>
<p><strong>Nazwisko: </strong>Dzieszkowski</p>
        <h2>My favorite motivational quotes:</h2>
        <h4> An investment in knowledge pays the best interest.~Benjamin Franklin<br><br>
            Tell me and I forget. Teach me and I remember. Involve me and I learn.~Benjamin Franklin <br><br></h4>
        <h5>Whatever you are, be a good one. – Abraham Lincoln </h5>
{% endblock %}